{% extends 'layouts/base.html' %}



{% block stylesheets %}
    <style>
        .checkout-head{
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .total-head{
            padding-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock stylesheets %}
    

{% block content %}
<div class="container">
    <h3 class="checkout-head">Checkout</h3>
    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <h4>Order Summary</h4>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text"><small class="text-muted">{{product.category}}</small></p>
                      <p class="card-text">{{product.description|truncatechars:250}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="total-head">Nft Value : {{product.price}} {{product.currency}}</h4>
              <h4 class="total-head">Taxes : {{product.price}} {{product.currency}}</h4>
              <h4 class="total-head">Final Value : {{product.price}} {{product.currency}}</h4>


              
        </div>
    </div>
</div>
{% endblock content %}


{% block js_plugins %}
{% endblock js_plugins %}
  