{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheets %}
    <style>
        .col-lg-6{
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;
        }
        .upload-head{
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;
        }
        .contain{
            background-image: url('/static/assets/images/upload.jpg');
            background-position: center;
            color: white;
        }
    </style>
{% endblock stylesheets %}
    

{% block content %}
   <div class="contain">
       <div class="row">
           <h2 class="upload-head">Hey! {{user.username}}...Upload your new Nft </h2>
           <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary">Post Nft</button>
            </form>
           </div>
       </div>
   </div>
{% endblock content %}
    