{% extends "layouts/base.html" %}


{% block stylesheets %}
<style>
  .thumbnail {
    height: 375px;
    width: auto;
    border-radius: 5px;
  }

  .outer-box {
    padding-top: 50px;
  }

  .logo {
    height: 25px;
    width: auto;
    border-radius: 12.5px;
  }

  .left-panel {
    padding-left: 100px;
    padding-right: 70px;
  }

  .buy-button {
    width: 300px;
    height: 50px;
    background-color: yellow;
    border-radius: 5px;
  }

  .offer-button {
    width: 450px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
  }

  .des-head {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .detail-head {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .pro-head {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  h5{
    padding-bottom: 10px;
  }
</style>
{% endblock stylesheets %}


{% block content %}
<div class="container-fluid outer-box">
  <div class="row">
    <div class="col-lg-5 left-panel">
      <img class="thumbnail" src="{{product.image.url}}" alt="testing">
      <h2 class="des-head">Description</h2>
      <h5>{{product.description}}</h5>

      <h2 class="detail-head">Details</h2>
      <h5>Creator : {{product.creator}}</h5>
      <h5>Owner : {{product.owner}}</h5>
      <h5>Contract Address : {{product.contract_address}}</h5>
      <h5>Token Id : {{product.token_id}}</h5>
    </div>
    <div class="col-lg-7">
      <img class="logo" src="/static/assets/images/landing/nft/nft1.png" alt="">
      <h5 class="owner-head">{{product.owner}}</h5>
      <h2 class="nft-head">{{product.title}}</h2>
      <h5 class="type">{{product.category}}</h5>
      <p>Price</p>
      <h2>{{product.price}} {{product.currency}}</h2>
      <a href="{% url 'checkout' product.id %}"><button class="buy-button">Buy Now</button></a>
      <a href="{% url 'bid' product.id %}"><button class="offer-button">Make an Offer</button></a>

      <h4 class="pro-head">Provenance</h4>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
            <th scope="col">Trade Price</th>
            <th scope="col">Date Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">{{product.minted_by}}</th>
            <td>Mint</td>
            <td></td>
            <td>{{product.mint_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}