{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block stylesheets %}
<style>
    footer{
            margin-top: 400px!important;
        }
    
    
</style>
{% endblock stylesheets %}


{% block content %}
<div class="jumbotron jumbotron-fluid bg-success text-center text-white">
    <div class="container">
        <h1 class="display-3">Transaction Successfull</h1>
        <p class="lead">You completed the payment</p>
        <hr class="my-2">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    Your Nft can now be seen in your Collection!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js_plugins %}

{% endblock js_plugins %}